# 자료형

## 리스트 자료형

### 리스트의 인덱싱과 슬라이싱

In [1]:
odd = [1, 3, 5, 7, 9]

a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', ' is']
e = [1, 2, ['Life', 'is']]

In [2]:
print(b[1] + b[2])

5

In [3]:
c[-4]

'Life'

In [4]:
a = [11, 22, 33, 44, 55]

a[0:2]
a[-2:]
a[::2]

[11, 33, 55]

In [5]:
print(a[2:4])

[33, 44]

### 리스트 연산, 수정, 삭제

In [6]:
a = [11, 22, 33]
b = [44, 55, 66]

# 리스트 더하기
print(a + b)

# 리스트 반복하기
print(a * 3)

c = a*3

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

In [7]:
# 리스트 값 수정하기

a = [11, 22, 33]
a[2] = 44
print(a)

b = " "

a[1] = b
print(b)
print(a)

# 리스트 값 삭제하기
del a[1]
print(a)

[11, 22, 44]

[11, ' ', 44]
[11, 44]

In [8]:
# 리스트 값 슬라이싱으로 삭제하기

print(c)
del c[:4]
print(c)

[11, 22, 33, 11, 22, 33, 11, 22, 33]
[22, 33, 11, 22, 33]

### 리스트 관련 함수

In [9]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
# 리스트 요소 비우기

c.clear()
print(c)

[]

In [11]:
a=[]

In [12]:
# 리스트 요소 추가하기

a.append(3)
a.append([1,2])
print(a)

[3, [1, 2]]

In [1]:
# 리스트 정렬

a = [11, 44, 22, 33, 55]
a.sort()
print(a)

a.reverse()
print(a)

[11, 22, 33, 44, 55]
[55, 44, 33, 22, 11]

In [14]:
# 리스트정렬 원본 유지하기

aa = [66, 77, 88, 99, 0]
bb = sorted(aa)
cc = sorted(aa, reverse=True)

print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [15]:
# sorted 응용

fruit = ['banana', 'kiwi', 'orange', 'melon', 'apple', 'strawberry', 'blueberry']

result = sorted(fruit, key=len)
result2 = sorted(fruit, key=len, reverse=True)

print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'apple', 'strawberry', 'blueberry']
['kiwi', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'apple', 'kiwi']

In [16]:
for l in result:
    if l == 'banana':
        print(l + ' 맛없어')
    else:
        print(l + ' 맛있다.')
print('끝')

kiwi 맛있다.
melon 맛있다.
apple 맛있다.
banana 맛없어
orange 맛있다.
blueberry 맛있다.
strawberry 맛있다.
끝

In [17]:
# 인덱스 반환 - index

fruit = ['banana', 'kiwi', 'orange', 'melon', 'apple', 'strawberry', 'blueberry']
fruit.index('apple')

4

In [18]:
fruit = ['banana', 'kiwi', 'orange', 'melon', 'apple', 'strawberry', 'blueberry']
fruit.index('apple')

# inp = input('먹고 싶은 과일 입력: ')
 
# print(inp + '를 먹고싶군요?')

want = input('먹고 싶은 과일 입력: ')
where = fruit.index(want)
print(f'{want}를 좋아하시는 군요, 그것은 {where + 1} 번째에 있습니다.')

먹고 싶은 과일 입력:  apple

apple를 좋아하시는 군요, 그것은 5 번째에 있습니다.

In [ ]:
n = fruit.index(input('먹고 싶은 과일 입력: '))
print(fruit[n])

In [ ]:
# 리스트에 요소 삽입 - insert

num = [11, 22, 33, 44, 55, 66, 77, 88]
print(num)
num.insert(3, 44) # 3은 인덱스 위치, 44는 위치에 넣을 요소
print(num)

In [ ]:
ex = []

In [ ]:
ex.insert(0, '처음')
print(ex)

ex.insert(-1, '맨뒤 바로 앞')
print(ex)

ex.insert(0, '맨앞')
print(ex)

ex.insert(len(ex),'맨뒤')
print(ex)

In [ ]:
# 리스트 요소 제거 - remove

a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

In [ ]:
# 리스트 요소 끄집어 내기 - pop

a = [1, 2, 3]
hand = a.pop()
print(a)
print(hand)

b = a.pop(1)
print(b)

In [ ]:
# 리스트에 포함된 요소 x의 개수 세기 - Count

st = "안녕하세요 반가워요"
print(st.count("요"))

a = [1,2,3,4,1,2,3,3,1,1,1,4,5,1,3,6,1]
print(a.count(1))

In [77]:
# 리스트 확장

a = [1, 2, 3]
a.extend([4, 5])
print(a)

b = [11,22,33]
c = [44,55,66]

print(b+c)

[1, 2, 3, 4, 5]
[11, 22, 33, 44, 55, 66]

In [ ]:
# 장바구니
bag = []

In [ ]:
inp = input("장바구니에 담을 물건 입력: ")
bag.append(inp)
print(f'장바구니에는 {bag}가 있습니다')

In [ ]:
# FIFO 출력 (queue 출력)

hand = bag.pop(0)
print(f'{hand}를 꺼내서 장바구니에 {bag}이(가) 남았습니다 ')

In [ ]:
bag = ['호박', '소주', '맥주', '피자', '감자', '고구마']

# 선택 출력
print(f'바구니에 {bag}가 있습니다.')
bring = input('꺼내고 싶은 물품 입력: ')
print(bag.index(bring))
hand2 = bag.pop(bag.index(bring))
print(f'바구니에서 {hand2}를 꺼내, {bag}가 남았습니다.')

In [3]:
# 실습

bag = ['호박', '소주', '맥주', '피자', '감자', '고구마']
# 물품 하나를 추가하기. 단, 지정한 물품 바로 뒤에 추가하기

test1 = input('추가할 물품을 적어 주세요 : ')
test2 = input('어느 물품의 오른쪽에 넣을까요? : ')
bag.insert(bag.index(test2) + 1, test1)
print(f'{test1}을 넣어, 현재 물품 목록은 {bag} 입니다.')

물품 하나를 지정해 주세요 :  막걸리
어느 물품의 오른쪽에 넣을까요? :  피자

막걸리을 넣어, 현재 물품 목록은 ['호박', '소주', '맥주', '피자', '막걸리', '감자', '고구마'] 입니다.

In [7]:
# 환율 계산기 만들기

USD = int(input("원화로 계산할 달러를 입력하세요. :"))

tr = int(input("원_달러 환율 :"))

Won = USD * tr

print(f"현재 환율은 {tr:,}원으로 {Won:,}원 입니다. ")

원화로 계산할 달러를 입력하세요. : 549
원_달러 환율 : 1450

현재 환율은 1,450원으로 796,050원 입니다.

In [3]:
import requests

url ='https://m.stock.naver.com/marketindex/exchange/FX_USDKRW'
res = requests.get(url).text
# print(res)
# print(res.find("1,449.70"))
# print(res[19137:19145])

exc = res[19137:19145]
# exc = exc.replace(',','')

USD = int(input("원화로 계산할 달러를 입력하세요. :"))

Won = float(USD) * float(exc.replace(',',''))

print(f"현재 환율은 {exc}원으로 {USD} 달러는 한화:{Won:,}원 입니다. ")

원화로 계산할 달러를 입력하세요. : 549

현재 환율은 1,445.60원으로 549 달러는 한화:793,634.3999999999원 입니다.

In [7]:
import requests
import json

url ='https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=api키&data=AP01'
res = requests.get(url).text
data = json.loads(res)

# print(res)
# print(data[-1]['kftc_deal_bas_r'])

ec = data[-1]['kftc_deal_bas_r']

USD = int(input("원화로 계산할 달러를 입력하세요. :"))

Won = float(USD) * float(ec.replace(',',''))

print(f"현재 환율은 {ec}원으로 {USD} 달러는 한화:{Won:,}원 입니다. ")

원화로 계산할 달러를 입력하세요. : 549

현재 환율은 1,460.8원으로 549 달러는 한화:801,979.2원 입니다.

In [54]:
from IPython.display import clear_output

# test


inp1 = input('질문1')
clear_output(wait=True)
inp2 = input('질문2')
clear_output(wait=True)
inp3 = input('질문3')

질문3 아

## 튜플 자료형

In [60]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [ ]:
# 튜플의 요소값을 삭제하려 할 때
t1 = (1, 2, 'a', 'b')
del t1[0]

In [ ]:
dir(tuple)

In [ ]:
# 인덱싱하기

t1 = (1, 2, 'a', 'b')
print(t1[0], t1[3])

In [63]:
# 슬라이싱

t1 = (1, 2, 'a', 'b')
print(t1[1:])

(2, 'a', 'b')

In [64]:
# 튜플 더하기

t1 = (1, 2, 'a', 'b')
t2 = (3,4)
t3 = t1 + t2

print(t3)

(1, 2, 'a', 'b', 3, 4)

In [66]:
# 튜플 곱하기

t2 = 3, 4
t3 = t2 *2
print(t3)

(3, 4, 3, 4)

In [67]:
# 튜플 길이 구하기

len(t3)

4

## 딕셔너리 자료형

In [68]:
dic = {'name': 'pay', 'phone': '010-1234-5678', 'birth': '0621'}

In [77]:
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pay
010-1234-5678
0621

In [72]:
al = [11, 22, 33, 44, 55]
at = 11, 22, 33, 44, 55
ad = {0:11, 1:22, 2:33, 3:44, 4:55}

print(al[0])
print(at[0])
print(ad[0])

11
11
11

In [75]:
# test

for l in al:
    print(l)
print('-'*10)
for t in at:
    print(t)

for d in ad:
    print(d)

11
22
33
44
55
----------
11
22
33
44
55
0
1
2
3
4

In [79]:
a = {'aa':[1, 2, 3, 4, 5]}
print(a['aa'])

[1, 2, 3, 4, 5]

### 딕셔너리 쌍 추가, 삭제하기

In [87]:
dic = {'name': 'pay', 'phone': '010-1234-5678', 'birth': '0621'}
dic['address'] = 'busan'
print(dic)

{'name': 'pay', 'phone': '010-1234-5678', 'birth': '0621', 'address': 'busan'}

In [88]:
dic['array'] = [1, 2, 3, 4, 5]
print(dic)

{'name': 'pay', 'phone': '010-1234-5678', 'birth': '0621', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

In [84]:
del dic['birth']
print(dic)

{'name': 'pay', 'phone': '010-1234-5678', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

In [86]:
# 딕셔너리 만들 떄 주의사항

a = {1:'a', 1:'b'}
print(a)

{1: 'b'}

### 딕셔너리 관련함수

In [99]:
a = {'name': 'pay', 'phone': '010-1234-5678', 'birth': '0621', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

# key 리스트 만들기 - keys
print(a.keys())
# value 리스트 만들기 -value
print(a.values())
# key, value 쌍 얻기 - items
print(a.items())
# key:value 쌍 모두 지우기 - clear
print(a)
a = a.clear

print(a)

dict_keys(['name', 'phone', 'birth', 'address', 'array'])
dict_values(['pay', '010-1234-5678', '0621', 'busan', [1, 2, 3, 4, 5]])
dict_items([('name', 'pay'), ('phone', '010-1234-5678'), ('birth', '0621'), ('address', 'busan'), ('array', [1, 2, 3, 4, 5])])
{'name': 'pay', 'phone': '010-1234-5678', 'birth': '0621', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
<built-in method clear of dict object at 0x000001E4C2351100>

In [92]:
for k in a.keys():
    print(l)

name
phone
birth
address
array

In [ ]:
a = {'name': 'pay', 'phone': '010-1234-5678', 'birth': '0621', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

print(a.get('name'))
print(a.get('super'))
print(a['money'])

In [101]:
al = [11, 22, 33, 44, 55]
at = 11, 22, 33, 44, 55
ad = {0:11, 1:22, 2:33, 3:44, 4:55}

print(22 in al) # 리스트
print(99 in at) # 튜플
print(1 in ad) # 딕셔너리의 키

True
False
True

In [53]:
# 실습 random 모듈
import random

menu = ['구내식당', '후문 편의점', '자가도시락', '굶기', '과자'] 

num1 = random.random()
print(f'0과 1 사이의 랜덤 소수 {num1}')

num2 = random.randint(1, 100)
print(f'0과 1 사이의 랜덤 실수 {num2}')

lunch = random.choice(menu)
print(f'오늘 선택된 메뉴는? {lunch}')

deck = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(deck)
print(deck)

0과 1 사이의 랜덤 소수 0.009253636736652138
0과 1 사이의 랜덤 실수 61
오늘 선택된 메뉴는? 구내식당
[8, 10, 2, 5, 7, 1, 3, 4, 9, 6]

## 집합 자료형

In [57]:
# 중복을 허용하지 않는다.
# 순서가 없다

s1 = set([1, 2, 3])
print(s1,type(s1))

s2 = set('Hello')
print(s2,type(s2))

{1, 2, 3} <class 'set'>
{'H', 'e', 'l', 'o'} <class 'set'>

In [60]:
# 집합 자료형의 특징

s1 = set([11, 22, 33, 11, 22])

li = list(s1)
print(li,type(li))

t1 = tuple(s1)
print(t1,type(t1))

[33, 11, 22] <class 'list'>
(33, 11, 22) <class 'tuple'>

In [66]:
# 교집합, 합집합, 차집합 구하기

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s2 - s1)

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

### 집합 자료형 관련 함수

In [67]:
# 값 1개 추가하기 - add

s1 = set([1, 2, 3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [68]:
# 값 여러개 추가하기 - update

s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [69]:
# 특정 값 제거하기 - remove

s1 = set([1, 2, 3])
s1.remove(2)
print(s1)

{1, 3}

## 불 자료형

In [70]:
# True: 참을 뜻한다. (1)
# False: 거짓을 의미한다. (0)

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [71]:
3 > 10

False

In [74]:
print(bool("python"))
print(bool(""))
print(bool([1, 2, 3]))
print(bool([]))
print(bool((1, 2, 3)))
print(bool(()))
print(bool({'a':1}))
print(bool({}))
print(bool(1))
print(bool(0))
print(bool(None))

True
False
True
False
True
False
True
False
True
False
False

In [76]:
# random으로 스토리 생성기 만들기

# 등장인물 리스트
characters = ["용감한 기사", "모험심 넘치는 고양이", " 호기심 많은 로봇", "서투른 마법사", "명석한 탐정", "평범한 마을 주민"]
places = ["어두운 숲에서", "먼 우주 행성에서", "마법의 성에서", "바닷속 도시에서", "귀신이 나오는 흉가에서", "마을 식당에서"]
events = ["숨겨진 보물을 발견했다.", " 무시무시한 용과 싸웠다.", " 비밀 통로를 발견했다.", "고대의 미스터리를 풀었다", "왕국을 위험에서 구했다.", "식사를 했다."]

ch = random.choice(characters)
pl = random.choice(places)
ev = random.choice(events)

ch2 = random.choice(characters)
pl2 = random.choice(places)
ev2 = random.choice(events)


print(f"어느 날, {ch}은(는) {pl} 모험을 떠나 {ev} 그리고 {ch2}은(는) {pl2} {ev2}")

어느 날,  호기심 많은 로봇은(는) 어두운 숲에서 모험을 떠나 식사를 했다. 그리고 평범한 마을 주민은(는) 바닷속 도시에서 고대의 미스터리를 풀었다

# 자료형의 값을 저장하는 공간, 변수

In [6]:
a = [1, 2 ,3]
b = a
print(a, id(a))
print(b, id(b))

b.extend([4])
print(b, id(b))
print(a, id(a))

[1, 2, 3] 2445223792192
[1, 2, 3] 2445223792192
[1, 2, 3, 4] 2445223792192
[1, 2, 3, 4] 2445223792192

In [2]:
a is b

True

## 리스트의 옅은복사 깊은복사

In [9]:
from copy import copy 

c = [11, 22, 33]
# d = copy(c) # 방식1
d = c[:] # 방식2
# d = c.copy() # 방식3

print(c, id(c))
print(d, id(d))

d.extend([44])
print(d, id(d))
print(c, id(c))

[11, 22, 33] 2445224047360
[11, 22, 33] 2445223913152
[11, 22, 33, 44] 2445223913152
[11, 22, 33] 2445224047360

In [10]:
c is d

False

## 변수를 만드는 여러가지 방법

In [78]:
a, b = ("파이썬", "짱짱")
[c, d] = ['배고파', '밥줘']

print(a, b)
print(c, d)

num1 = num2 = num3 = 10
print(num1, num2, num3)

파이썬 짱짱
배고파 밥줘
10 10 10

In [13]:
a = 3
b = 7
print(a, b)

a, b = b, a
print(a, b)

3 7
7 3

In [79]:
a = 33
b = 77
print(a,b)
temp = a
a = b
b = temp
print(a,b)

33 77
77 33

In [80]:
# 포인터 차이 테스트

a = 3
b = 5


print(a, id(a))
print(b, id(b))

c = a
print(c, id(c))
a = b
print(a, id(a))
print(b, id(b))
print(c, id(c))

b = c
print(a, id(a))
print(b, id(b))
print(c, id(c))

3 140714941678568
5 140714941678632
3 140714941678568
5 140714941678632
5 140714941678632
3 140714941678568
5 140714941678632
3 140714941678568
3 140714941678568