# 내장함수

In [1]:
# abs *

print(abs(-3))
print(abs(-1.2))

3
1.2

In [7]:
# all *

print(all([1, 2, 3]))
print(all([11, 22, 0, 44, 55]))
print(all([]))

True
False
True

In [10]:
# any *

print(any([1, 2, 3, 0]))
print(any([0, '', [], False]))
print(any([]))

True
False
False

In [18]:
# 아스키코드
print(chr(65))
print(chr(44032))

# 유니코드 - UTF-8(인코딩방식)
print(ord('A'))
print(ord('가'))

A
가
65
44032

In [37]:
for i in range(65, 91):
    print(chr(i), end=" ")

print('\n'+'='*51)

for j in range(122, 96, -1):
    print(chr(j), end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
===================================================
z y x w v u t s r q p o n m l k j i h g f e d c b a

In [47]:

for x in range(65, 91):
    for y in range(1, 11):
        print(f'{chr(x)}{y}', end=' ')
    print('\n'+'-'*30)

A1 A2 A3 A4 A5 A6 A7 A8 A9 A10
------------------------------
B1 B2 B3 B4 B5 B6 B7 B8 B9 B10
------------------------------
C1 C2 C3 C4 C5 C6 C7 C8 C9 C10
------------------------------
D1 D2 D3 D4 D5 D6 D7 D8 D9 D10
------------------------------
E1 E2 E3 E4 E5 E6 E7 E8 E9 E10
------------------------------
F1 F2 F3 F4 F5 F6 F7 F8 F9 F10
------------------------------
G1 G2 G3 G4 G5 G6 G7 G8 G9 G10
------------------------------
H1 H2 H3 H4 H5 H6 H7 H8 H9 H10
------------------------------
I1 I2 I3 I4 I5 I6 I7 I8 I9 I10
------------------------------
J1 J2 J3 J4 J5 J6 J7 J8 J9 J10
------------------------------
K1 K2 K3 K4 K5 K6 K7 K8 K9 K10
------------------------------
L1 L2 L3 L4 L5 L6 L7 L8 L9 L10
------------------------------
M1 M2 M3 M4 M5 M6 M7 M8 M9 M10
------------------------------
N1 N2 N3 N4 N5 N6 N7 N8 N9 N10
------------------------------
O1 O2 O3 O4 O5 O6 O7 O8 O9 O10
------------------------------
P1 P2 P3 P4 P5 P6 P7 P8 P9 P10
------------------------------
Q1 Q2 Q3 Q4 Q5 Q6 Q7 Q8 Q9 Q10
------------------------------
R1 R2 R3 R4 R5 R6 R7 R8 R9 R10
------------------------------
S1 S2 S3 S4 S5 S6 S7 S8 S9 S10
------------------------------
T1 T2 T3 T4 T5 T6 T7 T8 T9 T10
------------------------------
U1 U2 U3 U4 U5 U6 U7 U8 U9 U10
------------------------------
V1 V2 V3 V4 V5 V6 V7 V8 V9 V10
------------------------------
W1 W2 W3 W4 W5 W6 W7 W8 W9 W10
------------------------------
X1 X2 X3 X4 X5 X6 X7 X8 X9 X10
------------------------------
Y1 Y2 Y3 Y4 Y5 Y6 Y7 Y8 Y9 Y10
------------------------------
Z1 Z2 Z3 Z4 Z5 Z6 Z7 Z8 Z9 Z10
------------------------------

In [11]:
# divmod 몫과 나머지

print(divmod(13,3))
print(13//3, 13%3)

(4, 1)
4 1

In [12]:
# enumerate * 열거하다

fruit = ['apple', 'banana', 'kiwi', 'cherry', 'mango'] 

for i, f in enumerate(fruit, start= 1):
    print(i, '순위 과일은:', f)

1 순위 과일은: apple
2 순위 과일은: banana
3 순위 과일은: kiwi
4 순위 과일은: cherry
5 순위 과일은: mango

In [13]:
eval('1+2')

3

In [14]:
eval("'A'+'1'")

'A1'

In [16]:
def positive(arg):
    result = []

    for i in arg:
        if i > 0:
            result.append(i)

    return result




a = [1, -1, 2, -4, 3, -9]
positive(a)

[1, 2, 3]

In [18]:
def pos(arg):
    return [i for i in arg if i > 0]

pos(a)

[1, 2, 3]

In [21]:
def positive(arg):
    return arg > 0

a = [1, -1, 2, -4, 3, -9]
print(list(filter(positive, a)))

[1, 2, 3]

In [22]:
print(list(filter(lambda x : x > 0, a)))

[1, 2, 3]

In [24]:
for n in filter(lambda x : x > 0, a):
    print(n)

1
2
3

In [27]:
# hex, oct, bin

print(hex(18))
print(oct(98))
print(bin(9))

0x12
0o142
0b1001

In [32]:
# id 고유 주소값을 리턴

a = 3
print(id(3))
print(id(a))
b = a
print(id(b))

print(id(14))

140731888632808
140731888632808
140731888632808
140731888633160

In [33]:
# input *
# input은 스트링으로 값을 전달받는다. 그러므로 계산 시 int나 float로 변경할 것

In [34]:
# int *
# 문자를 숫자로 변환, 정수로 변환, 소수점이 사라짐

In [37]:
# isinstance(object, class) 인스턴스 확인용

class Person:
    def p(self):
        return("사람입니다.")

class Animal:pass

a = Person()
b = Person()
c = Animal()

print(a.p())
print(b.p())

print(isinstance(a, Person))
print(isinstance(b, Person))
print(isinstance(c, Person))
print(isinstance(c, Animal))

사람입니다.
사람입니다.
True
True
False
True

In [38]:
# len **
print(len("Python"))
print(len([1, 2, 3, 4]))
print(len((1,'a')))

6
4
2

In [39]:
# list **

In [41]:
# map *

def two_items(nl):
    result = []
    for i in nl:
        result.append(i*2)
    return result

print(two_items([1, 2, 3, 4]))

[2, 4, 6, 8]

In [43]:
def two_items(x):
    return x * 2

list(map(two_items, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [44]:
list(map(lambda x : x * 2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [49]:
list(filter(lambda x : x ** 2 == x , [1, 2, 3, 4]))

[1, 2, 3, 4]

In [53]:
# 테스트

li = [1, 2, 3, 4, 5, 6]

def add(x):
    return x + 10

def mul(x):
    return x * x

def addmul(x):
    return (x + 10) * x 

def odd(x):
    return x % 2 != 0

def even(x):
    return x % 2 == 0

print(list(filter(odd, li)))
print(list(filter(add, li)))
print(list(map(add, li)))

[1, 3, 5]
[1, 2, 3, 4, 5, 6]
[11, 12, 13, 14, 15, 16]

In [54]:
# max *

max([1, 21, 3, 14, 56, 16, 7])

56

In [55]:
# min *

min([1, 21, 3, 14, 56, 16, 7])

1

In [ ]:
# open *

f = open('README.md', 'r', encoding="utf-8")
f.read()

In [57]:
# pow * x를 y제곱한 결과값을 리턴

print(pow(2, 5))

32

In [59]:
# range **
# 인수가 하나
print(list(range(5)))
# 인수가 2개
print(list(range(5, 10)))
# 인수가 3개
print(list(range(5, 10, 2)))
# 역순 (스탭조절)
print(list(range(15, 0, -1)))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 7, 9]
[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
# round * 반올림

print(round(3.45))
print(round(3.546))
print(round(3.495))
print(round(3.495, 2))
print(round(3.495, 3))

3
4
3
3.5
3.495

In [65]:
# sorted(iterable) 정렬된 리스트로 리턴

s0 = [4,1,2,6,7,8]
s1 = sorted(s0)
s2 = sorted(s0, reverse = True)

print(s0)
print(s1)
print(s2)

[4, 1, 2, 6, 7, 8]
[1, 2, 4, 6, 7, 8]
[8, 7, 6, 4, 2, 1]

In [66]:
# str 문자열로 변환
num = 23
st  =str(num)
print(num, type(num))
print(st, type(st))

23 <class 'int'>
23 <class 'str'>

In [67]:
# sum * 이터러블데이터의 합을 리턴

print(sum([1, 2, 3, 4, 5]))

15

In [68]:
# tuple * tuple 류플로 바꾸기

print(tuple("abc"))
print(tuple([1,2,3,4,5,6]))
print(tuple([1,2,3,4,5,6]))

('a', 'b', 'c')
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [69]:
# type ** 자료형 확인 

print(type("abc"))
print(type(1234))
# print(type(open('README.md', 'r')))  # 파일 자료형

<class 'str'>
<class 'int'>

In [73]:
# zip ** 묶어서 리턴

fruit = ['apple', 'banana', 'kiwi', 'cherry', 'mango'] 
animal = ['dog', 'cat', ' elephant', 'lion', 'rabbit']
num = [11, 22, 33, 44, 55]


for f, a, n in zip(fruit, animal, num):
    print(n, ':', f, '=>', a)

11 : apple => dog
22 : banana => cat
33 : kiwi =>  elephant
44 : cherry => lion
55 : mango => rabbit

# 표준 라이브러리

## datetime.date

In [83]:
import datetime

day1 = datetime.date(2025,2,3)
day2 = datetime.date(2025,7,25)

diff = day2 - day1
print("전체 수업기간:", diff.days, "일")

diff2 = day2 - datetime.datetime.now().date()
print("남은 수업기간:", diff2.days, "일")
print("지난 수업기간:", diff.days - diff2.days, "일")


diff.days -15

전체 수업기간: 172 일
남은 수업기간: 157 일
지난 수업기간: 15 일

157

In [81]:
datetime.datetime.now().date() # date()를  넣으면 date 타입으로 변환

datetime.date(2025, 2, 18)

In [85]:
days = ['월', '화', '수', '목', '금', '토', '일']

day = datetime.date(2020,2,2)

# day.isoweekday() # 1부터 시작
print("그날은 " + days[day.weekday()] + "요일 입니다.")
# day.weekday()

그날은 일요일 입니다.

## time

In [86]:
# time.time

import time
time.time()

1739855464.868697

In [88]:
# time.localtime

tt = time.localtime(time.time())
print(tt)

time.struct_time(tm_year=2025, tm_mon=2, tm_mday=18, tm_hour=14, tm_min=14, tm_sec=59, tm_wday=1, tm_yday=49, tm_isdst=0)

In [1]:
# time.asctime

time.asctime()
# time.asctime(time.localtime(time.time()))

'Tue Feb 18 14:38:04 2025'

In [96]:
# time.ctime

time.ctime()

'Tue Feb 18 14:17:09 2025'

In [102]:
# time.strftime

time.strftime('%x',time.localtime(time.time()))
time.strftime('%X',time.localtime(time.time()))
time.strftime('%c',time.localtime(time.time()))

'Tue Feb 18 14:19:15 2025'

In [103]:
# time.sleep
import time as t

for i in range(1,11):
    print(i, end='\r')
    t.sleep(0.5)

10

## math.gcd, math.lcm

In [104]:
import math

In [107]:
print(math.pi)
print(math.gcd(60, 100, 80))
print(math.lcm(15, 25))

3.141592653589793
20
75

## random

In [110]:
import random as r

print(r.random())  # 0.0에서 1.0사이의 난수
print(r.randint(1, 10))  # a에서 b까지의 난수

0.6744426981081948
10

In [111]:
date = [11, 22, 33, 44, 55, 66]

for n in range(6):
    print(r.choice(date), end=' ')

22 22 55 66 66 11

In [112]:
li = list(range(1, 21))

for n in r.sample(li,len(li)):
    print(n, end=' ')

4 15 18 13 8 10 19 9 5 11 2 1 6 12 16 3 7 20 17 14

## tools

In [5]:
# itertools.zip_Longest

import itertools


students = ['한민서', '황지민', '이영철', '이광수', '김승민']
snacks = ['사탕', '초콜릿', '젤리']

# result = zip(students, snacks)  # zip 은 잗은 배열에 길이를 맟춤
result = itertools.zip_longest(students, snacks, fillvalue='새우깡')
print(list(result))

[('한민서', '사탕'), ('황지민', '초콜릿'), ('이영철', '젤리'), ('이광수', '새우깡'), ('김승민', '새우깡')]

In [7]:
#itertools.permutations

import itertools

list(itertools.permutations(['1', '2', '3'], 2))

[('1', '2'), ('1', '3'), ('2', '1'), ('2', '3'), ('3', '1'), ('3', '2')]

In [8]:
# itertools.combinations

import itertools

list(itertools.combinations(['1', '2', '3'], 2))

[('1', '2'), ('1', '3'), ('2', '3')]

In [15]:
# itertools.combinations 응용

import itertools

lotto = list(itertools.combinations(range(1, 46), 6))

for i in lotto[:15]:
    print(i)

print(len(lotto))

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 7)
(1, 2, 3, 4, 5, 8)
(1, 2, 3, 4, 5, 9)
(1, 2, 3, 4, 5, 10)
(1, 2, 3, 4, 5, 11)
(1, 2, 3, 4, 5, 12)
(1, 2, 3, 4, 5, 13)
(1, 2, 3, 4, 5, 14)
(1, 2, 3, 4, 5, 15)
(1, 2, 3, 4, 5, 16)
(1, 2, 3, 4, 5, 17)
(1, 2, 3, 4, 5, 18)
(1, 2, 3, 4, 5, 19)
(1, 2, 3, 4, 5, 20)
8145060

In [16]:
# functools.reduce

import functools

data = [1, 2, 3, 4, 5]
result = functools.reduce(lambda x, y: x + y, data)

print(result)

15

In [20]:
import functools

num_list = [3, 2, 8, 1, 6, 7]

max_num = functools.reduce(lambda x, y : x if x > y else y, num_list)
print(max_num)

8

In [21]:
# operator.itemgetter *

from operator import itemgetter

students = [("jane", 22, 'A'), 
           ("dave", 32, 'B'), 
           ("sally", 17, 'B')]

result = sorted(students, key=itemgetter(1))
print(result)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [22]:
import itertools
from operator import itemgetter

name = ["jane", "dave", "sally"]
age = [22, 32, 17]
grade = ['A', 'B', 'B']
students = zip(name, age, grade)



result = sorted(students, key=itemgetter(1), reverse=True)
print(result)

[('dave', 32, 'B'), ('jane', 22, 'A'), ('sally', 17, 'B')]

In [23]:
from operator import itemgetter

students = [
    {"name": "jane", "age": 22, "grade": 'A'},
    {"name": "dave", "age": 32, "grade": 'B'},
    {"name": "sally", "age": 17, "grade": 'B'},
]

result = sorted(students, key=itemgetter('age'))
print(result)

[{'name': 'sally', 'age': 17, 'grade': 'B'}, {'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'B'}]

In [26]:
import itertools
from operator import itemgetter

name = ["jane", "dave", "sally"]
age = [22, 32, 17]
grade = ['A', 'B', 'B']
students = []

for n, a, g in zip(name, age, grade):
    students.append({'name':n, 'age':a, 'grade':g})

print(students)

result = sorted(students, key=itemgetter('age'))
print(result)

[{'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'B'}, {'name': 'sally', 'age': 17, 'grade': 'B'}]
[{'name': 'sally', 'age': 17, 'grade': 'B'}, {'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'B'}]

In [43]:
# operator.attrgetter

from operator import attrgetter

class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def pr(self):
        return self.name, self.age, self.grade

students = [
    Student('jane', 22, 'A'),
    Student('dave', 32, 'B'),
    Student('sally', 17, 'B'),
]

result = sorted(students, key=attrgetter('age'))

for r in result:
    print(r.pr())

('sally', 17, 'B')
('jane', 22, 'A')
('dave', 32, 'B')

In [45]:
# shutil

import shutil
import time as t

for n in range(5):
    tstamp = str(round(t.time()))[-5:]
    print(tstamp)
    shutil.copy('b.txt', f'./backup/b_{tstamp}.txt.bak')
    t.sleep(5)

29163
29168
29173
29178
29183

In [46]:
# glob

import glob

glob.glob("./backup/*")

['./backup\\b.txt.bak',
 './backup\\b_29163.txt.bak',
 './backup\\b_29168.txt.bak',
 './backup\\b_29173.txt.bak',
 './backup\\b_29178.txt.bak',
 './backup\\b_29183.txt.bak']

In [50]:
# pickle

import pickle

f = open('test.txt', 'wb')
data = {1: 'python', 2: 'you need'}
pickle.dump(data, f)
f.close()

## OS

In [ ]:
import os

# 환경변수 중 PATH 값
os.environ['PATH']

# 디렉토리 변경
os.chdir("C:\\WINDOWS")

# 디렉토리 위치 받기
os.getcwd()

In [64]:
# 시스템 명령어 호출 
os.system("python") # 에러 시 1을 반환

0

In [65]:
f = os.popen("python -V")
f.read()

'Python 3.13.1\n'

In [68]:

def what(what):
    if not os.system(f"{what}"):
        f = os.popen(f"{what} -V")
        print(f.read())
    else:
        print('없는 명령어 입니다.')

In [70]:
what('python')

Python 3.13.1

In [3]:
# zipfile 

import zipfile

# 파일 합치기 (압축)
with zipfile.ZipFile('mytext.zip','w') as myzip:
    myzip.write('x.txt')
    myzip.write('y.txt')
    myzip.write('z.txt')

# 해제하기
with zipfile.ZipFile('mytext.zip') as myzip:
    myzip.extractall()

## Threading

In [9]:
import time as t

def long_task():
    for i in range(5):
        t.sleep(1)
        print("working: %s\n" % i)

In [10]:
# 기본작업

start = t.time()
print("Start")

for i in range(5):
    long_task()

print("End")
print(t.time() - start)

Start
working: 0

working: 1

working: 2

working: 3

working: 4

working: 0

working: 1

working: 2

working: 3

working: 4

working: 0

working: 1

working: 2

working: 3

working: 4

working: 0

working: 1

working: 2

working: 3

working: 4

working: 0

working: 1

working: 2

working: 3

working: 4

End
25.028583765029907

In [11]:
# thread를 사용 *****

import threading

threads = []
start = t.time()
print("Start")

for i in range(5):
    th = threading.Thread(target=long_task)
    threads.append(th)

for th in threads:
    th.start()

print("End")
print(t.time() - start)

Start
End
0.0013740062713623047
working: 0
working: 0

working: 0

working: 0

working: 0


working: 1
working: 1

working: 1

working: 1

working: 1


working: 2

working: 2

working: 2

working: 2

working: 2

working: 3
working: 3

working: 3

working: 3

working: 3


working: 4

working: 4

working: 4

working: 4

working: 4

## 기타

In [19]:
import tempfile

# filename = tempfile.mkstemp()
# filename

# f = tempfile.TemporaryFile()
# f.close()

(4, 'C:\\Users\\Admin\\AppData\\Local\\Temp\\tmp777p6t8n')

In [16]:
# traceback

import traceback

def a():
    return 1/0

def b():
    a()

def main():
    try:
        b()
    except:
        print("오류가 발생했습니다.")
        print(traceback.format_exc())

main()

오류가 발생했습니다.
Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_9544\3251494449.py", line 13, in main
    b()
    ~^^
  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_9544\3251494449.py", line 9, in b
    a()
    ~^^
  File "C:\Users\Admin\AppData\Local\Temp\ipykernel_9544\3251494449.py", line 6, in a
    return 1/0
           ~^~
ZeroDivisionError: division by zero

# JSON

In [1]:
{
    "name":"홍길동",
    "birth":"0525",
    "age":30
}

{'name': '홍길동', 'birth': '0525', 'age': 30}

In [18]:
import requests
import json

url = 'https://jsonplaceholder.typicode.com/todos'  # JSON 파일을 읽어오기
data = requests.get(url).json()[0]  # JSON -> DICT
data['test'] = "한글도 되나보자" # DICT 에 자료 삽입

with open('todo.json', 'w') as f:  
    json.dump(data, f)  # DICT -> JSON

data_s = json.dumps(data) # string으로 처리 한글 깨짐
# data_s = json.dumps(data, ensure_ascii=False) # 한글 깨짐 방지
print(data_s)

{"userId": 1, "id": 1, "title": "delectus aut autem", "completed": false, "test": "\ud55c\uae00\ub3c4 \ub418\ub098\ubcf4\uc790"}

In [19]:
with open('todo.json') as f:
    data = json.load(f)  # JSON -> DICT

print(json.loads(data_s)) # string 로드
print(data)

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False, 'test': '한글도 되나보자'}
{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False, 'test': '한글도 되나보자'}

In [24]:
import webbrowser

webbrowser.open_new_tab('https://www.naver.com')

True

In [32]:
import urllib.request
import time as t

def get_posts(page):
    resource = f'https://jsonplaceholder.typicode.com/posts/{page}'
    with urllib.request.urlopen(resource) as s:
        with open(f'./page/posts_{page}.html', 'wb') as f:
            f.write(s.read())

for n in range(1, 11):
    get_posts(n)
    t.sleep(0.1)

In [35]:
import webbrowser

webbrowser.open_new_tab('.html')

True